#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Roboto "Helvetica Neue";
}

.container {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 20px;
}

.container .video-box{

  width: 500px;
  height: 300px;
  background-color:#D9D9D9;
  border-radius: 20px;
  
}

.container .button-wrapper{
width: 100%;
display: flex;
justify-content: center;
gap: 35px;
}
/* 
.button-wrapper button{
  padding: 10px;
  background-color: #9F64F4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;

} */
/* 
.button-wrapper button:hover{
  padding: 10px;
  background-color: #7C24FA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  
} */

.container .text-box{
  width: 50%;
  padding: 10px;
border: 1px solid #FBE8C9;
}

/* 
.container .btn {
  padding: 10px;
  background-color: #FBE8C9;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}
.container .btn:hover {
  padding: 10px;
  background-color: #E5C287;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
} */